@keyframes fontAnimation {
  0% {
    font-size: 20px;
    color: blue;
  }
  50% {
    font-size: 40px;
    color: red;
  }
  100% {
    font-size: 20px;
    color: blue;
  }
}

#animated-text {
  animation: fontAnimation 3s infinite;
}

h1{
    font-family: 'Dancing Script', cursive;
}
h3{
    font-family: 'Dancing Script', cursive;
}
h4{
    font-family: 'Dancing Script', cursive;
}

body{
    background: lightskyblue;
}

html {
    scroll-behavior: smooth;
}

h1{
    color:yellow;
    font-size: 40px;

}
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 650px;
    font-size: 17px;
    opacity: 2;
}

.slider{
   position: absolute;
   top: 0px;
   left: 0px;
    width: 1500px;
    height: 550px ;
    margin: 100px auto;
    animation: slide 20s infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("mon.jpg.jpg");
}
@keyframes slide{
 40%{background-image: url("jim2.jpg");}
 40.01%{background-image:url("room2.jpg") ;}
 60%{background-image:url("room4.jpg");}
 60.01%{background-image: url("room3.jpg");}
 80%{background-image:url("dec.jpg.jpg") ;}
 80.01%{background-image:url("mon.jpg.jpg");}
 90%{background-image:url("april.jpg.jpg") ;}
 90.01%{background-image:url("tue.jpg.jpg");}


}
.wrapper a {
    position: relative;
    top: 5px;
    color: black;
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;


}

 label {
      display: block;
      margin-bottom: 5px;
    }
    
    input[type="text"],
    textarea {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    input[type="submit"] {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }




